@import url("colors.css");

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: @second-background;
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: @color3;
    margin-right: 5px;
}

#workspaces button.active {
    color: @borders;
}

#workspaces button.focused {
    color: @text;
    background: @focused;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: @background;
    background: @urgent;
    border-radius: 20px;
}

#workspaces button:hover {
    background: @color1;
    color: @text;
    border-radius: 20px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: @background;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0;
    margin-top: 5px;
    border: 1px solid @second-background;
}

#temperature {
    border-radius: 20px 0px 0px 20px;
}

#temperature.critical {
    color: @urgent;
}

#backlight {
    border-radius: 20px 0px 0px 20px;
    padding-left: 7px;
}

#tray {
    border-radius: 20px;
    margin-right: 5px;
    padding: 0px 4px;
}

#workspaces {
    background: @background;
    border-radius: 20px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: @color2;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: @color2;
    border-radius: 20px;
    margin-left: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding-left: 7px;
}

#network {
    color: @color2;
    border-radius: 20px 0px 0px 20px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: @focused;
    border-radius: 20px;
    margin-right: 10px
} 

#pulseaudio {
    color: @focused;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @focused2;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#battery {
    color: @color2;
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 20px;
    border-right: 0px;
    margin-left: 0px;
}