@import "colors.css";

* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10 0 5 10;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    color: @text;
}
#custom-quote:hover, #clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@focused;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;
}
#clock{
    padding: 0px 5px;
    color:@text;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;

}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@focused,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @focused;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @focused;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;


}
#battery.charging {
    color: @color2;
}

#battery.warning:not(.charging) {
    color: @color2;
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@borders,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@text;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#pulseaudio {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @text; /* Default color for the volume indicator */
}

#pulseaudio:hover {
    color: @focused; /* Change color on hover */
}

#pulseaudio.bluetooth {
    color: @color2; /* Jungle green for Bluetooth connected state */
}

#pulseaudio.muted {
    color: @urgent; /* Color for muted state (red) */
}

#pulseaudio.source-muted {
    color: @color2; /* Color for source muted state (orange) */
}
#custom-quote {
    padding: 0px 5px;
    color: @text; /* Change this to your desired color */
    transition: all .3s ease;
}